body {
    padding : 0;
    margin: 0;
    /* height: 500px; */
    font-family: Arial, Helvetica, sans-serif;
}
div.bckgrd{
    background-image: url('../image/view-computer.jpg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position:0px 0px;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.bckgrd div.image {
    display: flex;
}
div.bckgrd div.nama p{
    /* margin-top: 30px; */
    transform: translateY(30px);
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px #333;
}
div.bckgrd img {
    height: 80px;
    width: 80px;
}
div.about {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    
    
}
div.contact {
    display: flex;
    flex-direction: column;
}
div.contact {
    display: flex;
    flex-direction: column;
    height: 400px;
    
}
div.email {
    width: 100%;
    display: flex;
    justify-content: center;
}
div.email img {
    margin-left: -22%;
    margin-top: 8%;
    width: 30px;
    height: 30px;
    position: absolute;
}
div.con div.email:nth-child(2) h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 154, 154);
    box-shadow: 5px 5px #888888;
    width: 80%;
    padding: 15px 0px;
    border-radius: 10px;
}
div.con div.email:nth-child(2) h3:hover{
    opacity: .85;
}

div.con div.email:nth-child(2) h3 a {
    display: flex;
    align-items: center;
}
div.con div.email:nth-child(3) h3 {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle at 0% 90%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    box-shadow: 5px 5px #888888;
    width: 80%;
    padding: 15px 0px;
    border-radius: 10px;
}

div.con div.email:nth-child(3) h3:hover{
    opacity: .85;
}
div.con div.email:nth-child(3) h3 a {
    display: flex;
    align-items: center;
}
div.con div.email:nth-child(4) h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(113, 223, 103);
    box-shadow: 5px 5px #888888;
    width: 80%;
    padding: 15px 0px;
    border-radius: 10px;
}
div.con div.email:nth-child(4) h3:hover{
    opacity: .85;
}

div.con div.email:nth-child(4) h3 a {
    display: flex;
    align-items: center;
}
div.email h3 a {
    color: white;
    text-decoration: none;
}
div.tentang h1 {
    font-size: 30px;
    color: #ccc;
}
div.port h1 {
    font-size: 30px;
    color: #ccc;
}
div.con h1 {
    font-size: 30px;
    color: #ccc;
}
div.tentang {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;

}
div.port {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
}
div.con {
    display : flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
}
div.port div.bungkus-skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    align-content: center;
}
div.port div.bungkus-skill div.java{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* position: relative; */
    justify-content: space-around;
    align-items: center;
}
div.port div.bungkus-skill div.java div.gambar {
    width: 20%;
    height: 70px;
    /* margin-right: -20%; */
    background-color: #fafafa;
    box-shadow: 5px 5px 5px #888888;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

}
div.port div.bungkus-skill div.java div.range {
    width: 60%;
    height: auto;
    line-height: 25px;
    
    /* margin-left: 10%; */
    
}
div.port div.bungkus-skill div.java img {
    height: 50px;
    width: 50px;
}
div.port div.bungkus-skill div.java p.rangep {
    
    justify-content: flex-end;
    display: flex;
    height: auto;
    float: right;
    background-color: #fafafa;
    box-shadow: 5px 5px 5px #888888;
    padding: 20px;
    border-radius: 5px;
}
div.port div.bungkus-skill div.java p.rangep:hover{
    margin-top: -3%;
    transition: all .5s;
}
div.about div.tentang div.p {
    background-color: rgb(144, 144, 255);
    box-shadow: 5px 5px#888888;
    width: 85%;
    height: 130px;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
div.about div.tentang h1::after {
    content: '';
    border: 2px solid black;
    width: 120px;
    /* height: 3px; */
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
}
div.portfolio div.port h1::after {
    content: '';
    border: 2px solid black;
    width: 120px;
    /* height: 3px; */
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
}
div.contact div.con h1::after {
    content: '';
    border: 2px solid black;
    width: 120px;
    /* height: 3px; */
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
}
div.about div.tentang div.p p {
    display: flex;
    color: white;
    height: auto;
    width: 85%;
    align-items: center;
    font-size: 17px;
    line-height: 25px;
    margin-left: 18px;
    margin-right: 0;
}
div.contact div.con div.container div.email{
    display: inline-flex;
    /* position: absolute; */
    justify-items: center;
    align-items: center;
}
div.nav {
    display: flex;
    justify-content: center;
}
div.nav nav{
    /* margin-bottom: -70px; */
    bottom : 0px;
    background-color: blue;
    position: fixed;
    width: 100%;
    display: block;
}
div.nav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    margin-left: 5%;
}
div.nav nav ul li {
    margin-left: -20%;
}
div.skill img {
    width: 50px;
    height: 50px;
}
div.nav nav ul li:nth-child(1) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li:nth-child(2) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li:nth-child(3) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li:nth-child(4) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li a{
    padding: 16.5px 20px;
}
div.nav nav ul li a:hover{
    padding: 16.5px 20px;
    background-color: white;
    color: blue;
}

footer {
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
footer div.foot{
    display: flex;
    justify-content: center;
}
footer div.foot p{
    color: white;
}