body {
    padding : 0;
    margin: 0;
    height: 2000px;
    font-family: Arial, Helvetica, sans-serif;
}
div.bckgrd{
    background-image: url('../image/view-computer.jpg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position:0px 0px;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.bckgrd div.image {
    display: flex;
}
div.bckgrd div.nama p{
    /* margin-top: 30px; */
    transform: translateY(30px);
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px #333;
}
div.bckgrd img {
    height: 80px;
    width: 80px;
}
div.about {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    
    
}
div.tentang h1 {
    font-size: 30px;
    color: #ccc;
}
div.port h1 {
    font-size: 30px;
    color: #ccc;
}
div.tentang {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;

}
div.port {
    display : flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
}
div.port div.bungkus-skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    align-content: center;
}
div.port div.bungkus-skill div.java{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    /* position: relative; */
    justify-content: space-around;
    align-items: center;
}
div.port div.bungkus-skill div.java div.gambar {
    width: 20%;
    height: 70px;
    /* margin-right: -20%; */
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

}
div.port div.bungkus-skill div.java div.range {
    width: 40%;
    height: auto;
    line-height: 25px;
    
    /* margin-left: 10%; */
    
}
div.port div.bungkus-skill div.java img {
    height: 50px;
    width: 50px;
}
div.port div.bungkus-skill div.java p.rangep {
    
    justify-content: flex-end;
    display: flex;
    height: auto;
    float: right;
    margin: 50px 0px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
}
div.about div.tentang div.p {
    background-color: blue;
    width: 85%;
    height: 100px;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
div.about div.tentang h1::after {
    content: '';
    border: 2px solid black;
    width: 120px;
    /* height: 3px; */
    display: block;
    display: flex;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
}
div.portfolio div.port h1::after {
    content: '';
    border: 2px solid black;
    width: 120px;
    /* height: 3px; */
    display: block;
    display: flex;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
}
div.about div.tentang div.p p {
    display: flex;
    color: white;
    height: auto;
    width: 85%;
    align-items: center;
    font-size: 17px;
    line-height: 25px;
    margin-left: 18px;
    margin-right: 0;
}

div.nav nav{
    display: block;
    /* margin-bottom: -70px; */
    bottom : 0px;
    background-color: blue;
    position: fixed;
    width: 100%;
}
div.nav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
}
div.skill img {
    width: 50px;
    height: 50px;
}
div.nav nav ul li:nth-child(1) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li:nth-child(2) a {
    color: white;
    text-decoration: none;
}
div.nav nav ul li:nth-child(3) a {
    color: white;
    text-decoration: none;
}
